
body {
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    min-width:100vw;
    height:100vh; 
    padding-top: 14.5vh;
    background: rgb(97,36,153);
    background: linear-gradient(180deg, rgba(97,36,153,1) 19%, rgba(157,114,150,1) 55%, rgba(180,164,196,1) 89%, rgba(199,203,218,1) 100%);
}
.main_title {
    font-size: 10vh;
    font-weight: bolder;
    color: white;
    height: fit-content;
    position: absolute;
    left: 258%;
    width: max-content;
    top: 0;
}
::-webkit-scrollbar {
display:none;
}
.scroll-range {
position: absolute;
top: 0;
display: none;
}
.trapezoid {
    display: contents;
}
.trapezoid img {
    position: absolute;
    -webkit-animation: fade 20s infinite;
    animation: fade 20s infinite;
    display: block;
    width: 86%;
    min-height: 250px;
    height: 25vh;
    clip-path: polygon(0 0, 100% 0, 83% 100%, 0 100%);
}
.title {
    color: white;
    font-size: 3vh;
    font-weight: bolder;
    max-width: 12.5em;
}
.content {
    color: white;
    font-size: 2vh;
    margin-top: 1em;
    width: 83vw;
    text-align: initial;
}
.qr-code {
    position: absolute;
    bottom: 2em;
}
.container {
    padding: 5%;
    background: rgba(205, 205, 204, 0.157);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 
}
.pic-container {
    position: relative;
}
#pic1 {
    animation-delay: 0s;
}
#pic2 {
    animation-delay: 8s;
}
#pic3 {
    animation-delay: 16s;
}
#pic4 {
    animation-delay: 24s;
}
#pic5 {
    animation-delay: 32s;
}

#pic6 {
    animation-delay: 40s;
}

#pic7 {
    animation-delay: 48s;
}
#pic8 {
    animation-delay: 56s;
}
#pic10 {
    animation-delay: 64s;
}
#pic11 {
    animation-delay: 72s;
}
#pic12 {
    animation-delay: 80s;
}


  @-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  } 